.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
  }
  .rightspace {
    
    margin-right: 200px;
    margin-top: 30px;

  }
  .space {
    margin-right: 20px;

  }