	
    .row {
		display:inline-block;
	}
	.d-none {
		display: none;
	}
    .dropdown-style {
        width: 100px;
        height: 30px;
        font-size: 16px;
        background-color: #d3d3d3;
        border: 1px solid rgb(20, 11, 11);
      }
