.dropdown-style {
    // width: 150px;
    height: 30px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid rgb(20, 11, 11);
    border-radius:8px;
    margin-left: 2px;
    margin-bottom: 2px;
    
    
  }